[workspace]
members = [".", "assembly"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"
authors = ["xiaoyu"]

[workspace.dependencies]

[package]
name = "rust-demo"
version.workspace = true
edition.workspace = true
authors.workspace = true
